# Application
APP_SECRET=

APP_API_URL=http://localhost:3333
APP_WEB_URL=http://localhost:3000

# Mail (ethereal | ses)
MAIL_DRIVER=ethereal

# Storage (disk | s3)
STORAGE_DRIVER=disk

# AWS - Credentials, Regions, etc
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

AWS_DEFAULT_REGION_SES=us-east-1

AWS_DEFAULT_REGION_S3=us-east-1
AWS_BUCKET=

# Redis - Cache and rate-limiter-flexible
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASS=
